OdontoManage/OdontoManage.API/bin/
OdontoManage/OdontoManage.API/obj/

OdontoManage/OdontoManage.Core/bin/
OdontoManage/OdontoManage.Core/obj/

OdontoManage/OdontoManage.Application/bin/
OdontoManage/OdontoManage.Application/obj/

OdontoManage/OdontoManage.Infrastructure/bin/
OdontoManage/OdontoManage.Infrastructure/obj/
